<form action="Home/Privacy" method="post" class="form form-inline">
    <input type="text" name="CarMake" placeholder="Make of car" />
    <input type="text" name="CarModel" placeholder="Model of car" />
    <input type="text" name="CarColor" placeholder="Color of car" />
    <input type="number" min="1769" max="@(DateTime.Now.Year + 1)" name="CarYear" />
    <input type="submit" value="Find Car" />
</form>